<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Expires" content="-1">
  <meta http-equiv="CACHE-CONTROL" content="NO-CACHE">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}">
  <script src="{{ url_for('static', filename='scripts/post.js') }}"></script>
  <script src="{{ url_for('static', filename='scripts/article.js') }}"></script>
</head>

<body>

  <!-- Initialize the tab with titles . -->
  <div style = "margin-bottom:10px;">
    <div class = "tab">
      {% for tab in tabs %}
        <button id = 'link_{{ tab[0] }}' class="tablinks" onclick="openTab(event, '{{ tab[0] }}')">{{ tab[0] }}</button>
      {% endfor %}

    </div>

    <!-- Create a place to put content for each tab. -->
    {%for tab in tabs %}
    <div id = '{{ tab[0] }}' class="tabcontent" style = "max-height: 400px; overflow: auto;">
    </div>
    {% endfor %}
  </div>

  <div class = "bottom-display">

    <!-- Table with editing and clear options - displays what has been written thus far -->
    <div class = "column" style = "width: 70%; height: 250px; overflow-y: auto; float: left;">

      <table class="table table-bordered" id = "data-table">
        <!-- Headers for the table -->
        <thead>
          <tr>
            <th id = "outcome-table-tag">Outcome</th>
            <th id = "intervention-table-tag">Intervention</th>
            <th id = "comparator-table-tag">Comparator</th>
            <th id = "answer-table-tag">Answer</th>
            <th id = "reasoning-table-tag">Reasoning</th>
          </tr>
        </thead>

        <!-- Body of the Table -->
        <tbody id = "data-table-body">
        </tbody>
      </table>
    </div>

    <!-- Button panel -->
    <div class = "column" style = "width: 15%; float: left; margin-left: 5%;">

      <!-- Add button for adding in prompts -->
      <div class = "row" style = "margin-bottom: 5px;">
        <button id = "add-but" type="button" class="btn btn-default btn-block"> Add </button>
      </div>

      <!-- Edit button for changing potential prompts -->
      <div class = "row" style = "margin-bottom: 5px;">
        <button id = "edit-but" type="button" class="btn btn-default btn-block" disabled> Edit </button>
      </div>

      <!-- Copy button for adding new prompts -->
      <div class = "row" style = "margin-bottom: 5px;">
        <button id = "copy-but" type="button" class="btn btn-default btn-block" disabled> Copy </button>
      </div>

      <!-- Delete button for removing in prompts -->
      <div class = "row" style = "margin-bottom: 5px;">
        <button id = "delete-but" type="button" class="btn btn-default btn-block" disabled> Delete </button>
      </div>

      <!-- Final submission button to move on to the next article -->
      <div class = "row" style = "margin-bottom: 5px;">
        <button id = "invalid-but" type="button" class="btn btn-default btn-block"> Invalid Article </button>
      </div>

      <!-- Final submission button to move on to the next article -->
      <div class = "row" style = "margin-bottom: 5px;">
        <button id = "submit-but" type="button" class="btn btn-default btn-block" disabled> Submit </button>
      </div>

    </div>
  </div>


  <!-- Modalfor adding in a prompt -->
  <div id = "addPromptModal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">

      <!-- Modal content-->
      <div class="modal-content">

        <!-- Simple header for the modal to introduce the task -->
        <div class="modal-header">
          <button id = "close-modal" type="button" class="close" data-dismiss="modal">&times;</button>
          <h5> <b> Please fill in the following information: </b> </h5>

          With respect to <b> outcome,</b> characterize the reported difference
          between patients receiving <b> intervention </b> and those receiving <b> comparator </b>.
        </div>

        <!-- Content of the modal -->
        <div class = "modal-body">

          <!-- Put in a selecting button for the intervention -->
          <div class="form-group">
            <label for="outcome-resp">Outcome:</label>

            <!-- Put the response and the text selection button next to each other -->
            <div class = "row" style = "margin-left: 0%;">
              <div class = "column" style = "width: 75%; float: left;">
                <input type = "outcome" class="form-control" id="outcome-resp">
              </div>

              <!-- Buttons for selecting text -->
              <div class = "column" style = "width: 20%; float: left; margin-left: 10px;">
                <button id = "out-select-text-but" type = "button" class="btn btn-default"> Select Text </button>
              </div>
            </div>

          </div>

          <!-- Put in a selecting button for the intervention -->
          <div class="form-group">
            <label for="intervention-resp">Intervention:</label>

            <!-- Put the response and the text selection button next to each other -->
            <div class = "row" style = "margin-left: 0%;">
              <div class = "column" style = "width: 75%; float: left;">
                <input type="intervention" class="form-control" id="intervention-resp">
              </div>

              <!-- Buttons for selecting text -->
              <div class = "column" style = "width: 20%; float: left; margin-left: 10px;">
                <button id = "int-select-text-but" type = "button" class="btn btn-default"> Select Text </button>
              </div>
            </div>

          </div>

          <!-- Put in a selecting button for the comparator -->
          <div class="form-group">
            <label for="comparator-resp">Comparator:</label>

            <!-- Put the response and the text selection button next to each other -->
            <div class = "row" style = "margin-left: 0%;">
              <div class = "column" style = "width: 75%; float: left;">
                <input type="comparator" class="form-control" id="comparator-resp">
              </div>

              <!-- Buttons for selecting text -->
              <div class = "column" style = "width: 20%; float: left; margin-left: 10px;">
                <button id = "cmp-select-text-but" type = "button" class="btn btn-default"> Select Text </button>
              </div>
            </div>

          </div>

          <!-- Label for the next section -->
          <label> Result: </label>

          <!-- Select one of these options -->
          <div class = "row" id = "radio-but" style = "margin-left:1%;">
            <!-- Intervention "significantly increases" outcome in comparison to comparator -->
            <div class="radio" >
              <label>
                <input type="radio" id = "sig-inc-but" name="select" value = "Significantly increased">
                Significantly increased
              </label>
            </div>

            <!-- Intervention "significantly decreases" outcome in comparison to comparator -->
            <div class="radio" >
              <label>
                <input type="radio" id = "sig-dec-but" name="select" value = "Significantly decreased">
                Significantly decreased
              </label>
            </div>

            <!-- No difference between comparator and intervention -->
            <div class="radio" >
              <label>
                <input type="radio" id = "no-sig-dif-but" name="select" value = "No significant difference">
                No significant difference
              </label>
            </div>
        </div>

        <!-- Selection of text slot -->
        <div class="form-group">
          <label for="reasoning-resp">Reasoning:</label>

          <!-- Put the response and the text selection button next to each other -->
          <div class = "row" style = "margin-left: 0%;">
            <div class = "column" style = "width: 75%; float: left;">
              <input type="reasoning" class="form-control" id="reasoning-resp" readonly>
            </div>

            <!-- Buttons for selecting text -->
            <div class = "column" style = "width: 20%; float: left; margin-left: 10px;">
              <button id = "select-text-but" type = "button" class="btn btn-default"> Select Text </button>
              <button id = "clear-text-but" type = "button" class="btn btn-default" disabled> Clear </button>
            </div>
          </div>

        </div>

        <!-- Submission button -->
        <div class="modal-footer">
          <button id = "final-prompt-submit-but" type="button" class="btn btn-success" disabled> Submit </button>
        </div>

      </div>

      </div>
    </div>
  </div>

    <!-- Modal -->
    <div class="modal" id="error-modal" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Error</h4>
          </div>
          <div class="modal-body">
            <p id = "error-body"> </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>

    <!-- Modal for confirming to skip -->
    <div class="modal" id="confirm-modal" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Confirmation</h4>
          </div>
          <div class="modal-body">
            Are you sure that this article is invalid?
          </div>
          <div class="modal-footer">
            <button id = "invalid-yes" type="button" class="btn btn-default" data-dismiss="modal">Yes</button>
            <button id = "invalid-no" type="button" class="btn btn-default" data-dismiss="modal">No</button>
          </div>
        </div>

      </div>
    </div>


  <script>
    // Add content to the tabs
    var tab = {{ tabs|tojson }};
    breakDownText(tab);
    tablinks = document.getElementsByClassName("tablinks"); // get all the tab headers
    tablinks[0].click();
  </script>

  <!-- Storing of data to be used for later when submitting -->
  <div id="store">
      <p id="userid">{{ userid }}</p>
      <p id="id">{{ id }}</p>
      <p id="rowID"> {{ rowid }} </p>
      <p id="pmc"> {{ pmc }} </p>
  </div>

  <script src="{{ url_for('static', filename='scripts/table.js') }}"></script>
  <script src="{{ url_for('static', filename='scripts/forum_functionality.js') }}"></script>
</body>
</html>
